@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;

@layer base {
  .no-tailwindcss-base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: revert;
      font-weight: revert;
    }
    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
      display: initial;
    }
    ol,
    ul {
      list-style: revert;
      margin: revert;
      padding: revert;
    }
  }
}
@tailwind components;
@tailwind utilities;
