.uppy-DashboardContent-bar {
  z-index: 5 !important;
}

.tox .tox-editor-header {
  z-index: 0 !important;
}

.react-datepicker {
  z-index: 2 !important;
}

.react-datepicker__triangle {
  z-index: 2 !important;
}
.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__day-name {
  color: unset !important;
}
.tox .tox-edit-area__iframe {
  background-color: unset !important;
}
.tox-statusbar {
  background-color: unset !important;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  background-color: unset !important;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  padding: unset !important;
}
.tox .tox-menubar + .tox-toolbar-overlord {
  border-top: none !important;
}
.tox .tox-toolbar-overlord {
  background-color: unset !important;
}
