name: Docker Development Images CI

on:
  push:
    branches: ["development"]
  pull_request:
    branches: ["development"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build docker images
        uses: actions/checkout@v3

      - name: Login to dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build Development Server Docker Image
        run: docker build ./server --file ./server/Dockerfile --tag ryanali12/sti-munoz-library-server:latest
      - name: Build Development Admin Application Docker Image
        run: docker build ./admin_app --file ./admin_app/Dockerfile --tag ryanali12/sti-munoz-library-admin-app:latest
      - name: Build Development Client Application Docker Images
        run: docker build ./client_app --file ./client_app/Dockerfile --tag ryanali12/sti-munoz-library-client-app:latest

      - name: Push Development Server Image
        run: docker push ryanali12/sti-munoz-library-server:latest
      - name: Push Development Admin Application Image
        run: docker push ryanali12/sti-munoz-library-admin-app:latest
      - name: Push Development Client Application Image
        run: docker push ryanali12/sti-munoz-library-client-app:latest
